<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Owl Carousel CSS-->
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">

    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">



    <title>ShoppingX | {% block title %} {% endblock title %} </title>
    {% block paypal_link %} {% endblock paypal_link %}
</head>

<body>


    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark m-auto" style="padding: 20px;">
        <div class="container">
            <a href="/" class="navbar-brand bigshop">BigShop</a>




            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">


                <form class="d-flex mr-auto ml-auto">

                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1" style="width: 350px; border:none;border-radius:0px;height:45px;" type="text" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text bg-danger lighten-2" id="basic-text1" style="border-radius: 0px;"><i class="fas fa-search text-white"
                              aria-hidden="true"></i></span>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav mb-lg-0">



                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="text-capitalize">{{user.username}}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
                            <li><a class="dropdown-item" href="{% url 'changepassword' %}">Change Password</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li> {% else %}
                    <li class="nav-item">
                        <a class="nav-link  active" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" aria-current="page" href="{% url 'customerregistration' %}">SignUp</a>
                    </li>{% endif %}
                    <li class="nav-item">

                        <a class="nav-link active" aria-current="page" href="{% url 'showCart' %}"><i class="fa fa-fw fa-cart-arrow-down total_product"></i> <sup><span class="badge badge-danger">{{total_product}}</span></sup> </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <nav class="second-nav navbar-light">
        <ul class="d-flex justify-content-center">
            <li class="active">
                <a href="/">Home</a>
            </li>

            <li>
                <a href="">Laptop</a>
            </li>
            <li>
                <a href="">Jewellery</a>
            </li>
            <li>
                <a href="">Mobile</a>
            </li>

            <li>
                <a href="">Camera</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>

    </nav>



    {% block banner_slider %} {% endblock banner_slider %} {% block livesale %} {% endblock livesale %} {% block main-content %} {% endblock main-content %} {% block paypal_script %} {% endblock paypal_script %}

    <!-- Start Footer -->
    {% block footer %} {% endblock footer %}
    <!-- End Footer -->
    <script src="{% static 'app/js/jquery.js' %} "></script>

    <script src="{% static 'app/js/bootsrap.min.js' %} "></script>
    <!-- Jquery -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %} "></script>

    <script src="{% static 'app/js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'app/js/all.min.js' %} "></script>
    <script src="{% static 'app/js/myscript.js' %} "></script>
</body>

</html>

</html>

</html>

</html>