<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Owl Carousel CSS-->
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">

    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    <link rel="shortcut icon" href="{% static 'app/apple-touch-icon.png' %}" type="image/x-icon">
    <title>BigShop | {% block title %} {% endblock title %} </title>
    {% block paypal_link %} {% endblock paypal_link %}
</head>

<body>


    {% block banner_slider %} {% endblock banner_slider %} {% block livesale %} {% endblock livesale %} {% block main-content %} {% endblock main-content %} {% block paypal_script %} {% endblock paypal_script %}

    <!-- Start Footer -->
    {% block footer %} {% endblock footer %}
    <!-- End Footer -->
    <script src="{% static 'app/js/jquery.js' %} "></script>

    <script src="{% static 'app/js/bootsrap.min.js' %} "></script>
    <!-- Jquery -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %} "></script>

    <script src="{% static 'app/js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'app/js/all.min.js' %} "></script>
    <script src="{% static 'app/js/myscript.js' %} "></script>
</body>


</html>