{% extends 'app/base.html' %} {% load static %} {% block title %}Buy Now{% endblock title %} {% block main-content %}
<div class="container">
    <div class="row ">
        <div class="col-6 ">
            <h4>Order Summary</h4>
            <hr>{% for i in products %}
            <div class="card mb-2 ">
                <div class="card-body">
                    <h5>Product {{forloop.counter}}</h5>
                    <h5> Name:{{i.product.title}}</h5>
                    <p>Quantity: {{i.quantity}}</p>
                    <p class="fw-bold">Price: {{i.product.discounted_price}}</p>

                </div>
            </div> {% endfor %}

            <p class="">Amount + Shipping Cost : {{totalamount}}</p>
        </div>

        <div class="col-6">
            <h4>Select Shipping Address</h4>
            <hr>
            <form action="/payment_done" id="addressform">
                {% for i in customer %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-capitalize">{{i.name}}</h5>
                        <p>Locality: {{i.locality}}, City: {{i.city}} <br> Zipcode: {{i.zipcode}} State: {{i.state}} <br>
                        </p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" id="custid{{forloop.counter}}" name="custid" value="{{i.id}}">
                    <label class="form-check-label fw-bold" for="">
                    Address: {{forloop.counter}} </label>
                </div>
                {% endfor %} {% if customer %}
                <div class="text-end">

                    <div id="paypal-button-container"></div>

                </div> {% else %}
                <div>
                    <h4>Please add address for Shipping</h4><br>
                    <p>Go to
                        <a href="{% url 'profile' %}">Add Address</a>
                    </p>
                </div> {% endif %}



            </form>
        </div>

    </div>
</div>



{% endblock main-content %} {% block paypal_script %}

<script src="https://www.paypal.com/sdk/js?client-id=AdFtjPzmS8I1k5YXkmNtoHDobbB8RlP6tYq4PnlhFZJrLExNB1j_Tqf8SWSoA6182Ip_5sXr0E8dfWf0">
    // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
</script>



<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{totalamount}}'
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function(details) {
                // This function shows a transaction success message to your buyer.
                alert('Transaction completed by ' + details.payer.name.given_name);
                document.getElementById('addressform').submit();
            });
        }
    }).render('#paypal-button-container');
    //This function displays Smart Payment Buttons on your web page.
</script>{% endblock paypal_script %}