{% extends 'app/base.html' %} {% load static %} {% block title %}Buy Now{% endblock title %} {% block main-content %}
<div class="container">
    <div class="row ">
        <div class="col-6 ">
            <h4>Order Summary</h4>
            <hr>{% for i in products %}
            <div class="card mb-2 ">
                <div class="card-body">
                    <h5>Product {{forloop.counter}}</h5>
                    <h5> Name:{{i.product.title}}</h5>
                    <p>Quantity: {{i.quantity}}</p>
                    <p class="fw-bold">Price: {{i.product.discounted_price}}</p>

                </div>
            </div> {% endfor %}

            <p class="">Amount + Shipping Cost : {{totalamount}}</p>
        </div>

        <div class="col-6">
            <h4>Select Shipping Address</h4>
            <hr>
            <form action="">
                {% for i in address %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-capitalize">{{i.name}}</h5>
                        <p>Locality: {{i.locality}}, City: {{i.city}} <br> Zipcode: {{i.zipcode}} State: {{i.state}} <br>
                        </p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" value="">
                    <label class="form-check-label fw-bold" for="">
                    Address: {{forloop.counter}} </label>
                </div>{% endfor %}
                <div class="text-end">
                    <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
                </div>
            </form>
        </div>

    </div>
</div>{% endblock main-content %}