{% extends 'app/base.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block main-content %}
<!-- all product goes here -->
<div>
    <p class=" text-center all_product_h1 ">All Products</p>
</div>

<div class="container">
    <div class="row">
        <!-- #mobile  -->
        {% for t in page %}
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top p-1" src="{{t.product_image.url}}" style="height:180px " alt="Card image ">
                <div class="card-body text-center ">
                    <h4 class="card-title "> {{t.title}}</h4>
                    <p class="card-text ">{{t.description}}</p>
                    <div class="d-flex justify-content-around align-items-center ">
                        <a href="# " class="btn btn-sm btn-outline-danger view_detail">View Product</a>
                        <a href="#" class="btn btn-sm btn-outline-dark addtocart">Add to Cart</a>
                        <span class="selling_price"> ${{t.selling_price}}</span>
                    </div>
                </div>
            </div>
        </div> {% endfor %}
    </div>

    <div class="page">

        <ul class="pagination justify-content-center mt-4 text-dark">
            {% if page.has_previous %}
            <li class="page-item ">
                <a href="{% url 'home' %}?page={{page.previous_page_number}} " class="page-link ">&#x2190;</a>
            </li> {% endif %} {% for i in page.paginator.page_range %} {% if page.number == i %}
            <li class="page-item page-active">
                <a href=" " class="page-link ">{{i}}</a>
            </li> {% else %}
            <li class="page-item ">
                <a href="{% url 'home' %}?page={{i}} " class="page-link ">{{i}}</a>
            </li>{% endif %} {% endfor %} {% if page.has_next %}
            <li class="page-item ">
                <a href="{% url 'home' %}?page={{page.next_page_number}} " class="page-link ">&#x2192</a>
            </li> {% endif %}

        </ul>
    </div>


</div>
{% endblock main-content %}
<!-- all product goes here -->