{% extends 'app/base.html' %} {% load static %} {% block title %}Login{% endblock title %} {% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h4 class="text-center">BigShop Login</h4>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %} {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}}{{fm}}
                    <small class="text-danger">{{fm.errors|striptags}}</small>
                </div> {% endfor %}

                <a href="{% url 'password_reset' %}"><small>Forget password ?</small></a>
                <br class="mb-3">


                <input type="submit" value="Login" class="btn btn-primary">
                <br>
                <div class="text-center text-primary fw-bold"><small>New to BigShop ? <a href="{% url 'customerregistration' %}"
       class="text-danger">Create an Account</a> </small></div>

                {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                <div class="alert alert-danger mt-2">{{error}}</div> {% endfor %} {% endif %}

            </form>
        </div>
    </div>
</div>
{% endblock main-content %}