 {% extends 'app/base.html' %} {% load static %} {% block title %}Profile{% endblock title %} {% block main-content %}
<div class="container my-5">
    <!-- Nav tabs -->
    <div class="" style="margin-top:90px;">
        <ul class="nav nav-tabs ">
            <li class="nav-item">
                <a class="nav-link {{active}}" data-toggle="tab" href="{% url 'profile'%}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{% url 'address' %}">Address</a>
            </li>

        </ul>
    </div>



    <div class="row">

        <div class="col-sm-6 ">
            <h3 class="p-3 mt-3">Your Profile</h3>
            <div class="card shadow-sm p-3" style="width:500px">

                <div class="card-body">
                    <p>Name:{{profiledata.username}}</p>
                    <p>Email: {{profiledata.email}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {% if messages %} {% for message in messages %}
            <p class="alert alert-{{message.tags}} mt-3 ">{{message}}</p> {% endfor %} {% endif %}

            <h3 class="p-3 mt-3">Add Shipping Address</h3>
            <form action="" method="post" class="shadow-sm p-3">
                {% csrf_token %}{% for fm in form %}
                <div class="form-group ">
                    {{fm.label_tag}}{{fm}} <small class="text-danger ">{{fm.errors|striptags}}</small>
                </div>{% endfor %}
                <div class=" ">
                    <button type="submit " class="btn btn-primary ">Submit</button>
                </div>
            </form>
        </div>


    </div>


</div>
{% endblock main-content %}